# .gitignore only applies to untracked files. If you are tracking a .pyc then .gitignore won't apply.
# Remove # # the .pyc with git rm and next time you do a git status it (and any others) won't show up in the list of
# #  # untracked file and nor will it be automatically added.
# git rm file will stop track them.

nbproject/
bin/
debian/.debhelper
debian/docklight
src/.deps/
/po/*.mo
!package/*
/src/data/attachments/*
*.dh-orig
*.gmo
*.ex
*.EX
*.in~
*~
clang-format.sh
clang-tidy.sh
*.swp
*.deps
.dirstamp
:*.pot
/ABOUT-NLS
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/data/Makefile
/data/Makefile.in
/data/icons/Makefile
/data/icons/Makefile.in
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/m4/codeset.m4
/m4/extern-inline.m4
/m4/fcntl-o.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intltool.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/lock.m4
/m4/longlong.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/threadlib.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4
/missing
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/de.gmo
/po/en@boldquot.header
/po/en@quot.header
/po/hu.gmo
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/src/Makefile
/src/Makefile.in
/src/docklight
/stamp-h1

*.src.swp
*.swp
*.7z
tags
*.swn
*.swo


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


