#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Exec=/bin/bash /usr/bin/docklight5
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=docklight5
Comment[en_US]=Linux Dock with Preview. Helps to access and manage application windows.
X-GNOME-Autostart-Delay=1
