[Desktop Entry]
Name=Docklight
Comment=This programm is a lightweight Dock launcher for opening common applications.
Comment[de]=Docklight ist ein leichtes Dock Panel zum Öffnen gemeinsamer Anwendungen für den GNOME Desktop
Comment[es]=Docklight es un Programa para abrir aplicaciones  para el escritorio de GNOME.
Comment[fr]=Ce programme est un Dock lanceur léger pour l'ouverture des applications communes pour le bureau GNOME
Comment[th]=โปรแกรมนี้ใช้งานไม่ยาก Dock Launcher สำหรับการใช้งานเท่าไปเท่านั้น จัดทำเพื่อแปลภาษาหน้าเดสก์ท็อปของ GNOME 

Version=1.0
Exec=/usr/lib/docklight/bin/docklight
Icon=docklight.home
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;



